.homepage{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.welcome-message{
    color:rgb(6, 18, 66);
    font-size: 6rem;
    text-align: center;
    margin-bottom: 4rem;
}
.search-section{
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: center;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 0.4rem;
    background-color: rgb(6, 18, 66);
    width: 100%;
    gap: 0.5rem;
}

.search-bar img{
    height: 30px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}


.search-bar input{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 1rem 0.5rem;
    width: 710px;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}
.movie-info{
    width: 250px;
    height: 450px;
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    border:2px solid rgb(4, 29, 129);
    border-radius: 0.5rem;
    cursor: pointer;
    margin-bottom: 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.movie-info:hover{
    transform: scale(1.01);
    box-shadow: 0 6px 15px rgba(0,0,0,0.4);
}

.movie-image{
    height: 300px;
    width: 100%;
    border-radius:0.2rem;
    overflow: hidden;
}

.movie-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.movie-info .title {
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  color: rgb(4, 29, 129);
  font-weight: 700;
  margin-top: 1rem;
}

.imageInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageInfo .rating{
    display: flex;
    align-items: center;
    color:rgb(4, 29, 129) ;
    font-weight: 700;
    gap: 1rem;
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  z-index: 10000;
  background-image:linear-gradient(to top,rgb(73, 7, 97), rgb(2, 7, 26));
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

nav .header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}
nav .navigate{
    display: flex;
    gap: 1rem;
}
.nav-list-items {
  margin: 0 1rem;
}

.head {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(0, 51, 255);
  letter-spacing: 1px;
}

.nav-list-items a {
  color: rgb(0, 51, 255);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 1.2rem;
}

.nav-list-items a:hover {
  color:rgb(114, 141, 249);
}

.nav-list-items a.active {
  border-bottom: 4px solid rgb(6, 34, 143);
  padding-bottom: 0.25rem;
}


.favourite-section {
    position: absolute;
    bottom: -2.8rem;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1000;
}

.add-to-favourite {
  background: rgb(6, 34, 143);
  border: 2px solid rgba(4, 29, 129, 0.4);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-to-favourite:hover {
  transform: scale(1.02);
}

.add-to-favourite img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.add-to-favourite:hover img {
  transform: scale(1.15);
}
.empty-favourite-list{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
}
.empty-favourite-list h2{
    font-size: 2rem;
    color: rgb(6, 18, 66);
}
.empty-favourite-list button{
    background-color: #040e2d;
    color: white;
    padding:1.5rem 1rem;
    outline: none;
    border: none;
    font-family: serif;
    font-weight: 700;
    font-size: 1rem;
    width: 30%;
}


.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
  z-index: 2001;
  margin-left: 5rem;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background-color: rgb(0, 51, 255);
  border-radius: 3px;
  transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(4px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -5px);
}

.nav-slide {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-slide li a {
  text-decoration: none;
  color: rgb(0, 51, 255);
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-slide li a:hover {
  color: rgb(114, 141, 249);
}



@media screen and (max-width: 450px) {
    nav .header-logo{
        height: 50px;
    }

    .head {
        font-size: 1.2rem;
    }
    .welcome-message{
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .search-section{
        width: 350px;
    }

    .search-bar{
        width: 100%;
        padding: 0.2rem;
    }
    .search-bar input{
        width: 300px;
        padding: 0.2rem 1rem;
        border-radius:2px;
        font-size: 1rem;
    }
  
    .hamburger {
    display: flex;
  }

  .nav-slide {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: rgb(2, 7, 26);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    transition: right 0.4s ease;
    z-index: 2000;
  }

  .nav-slide.open {
    right: 0;
  }

  .nav-slide li a {
    color: white;
    font-size: 1.5rem;
  }

  .nav-slide li a.active {
    border-bottom: 3px solid rgb(0, 51, 255);
  }
    .movie-info{
        width: 300px;
    }
}